@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website is a basis for a Baseball Analytics Engine, the work is ongoing and any use of any page or data viewable on this website without pursuant documentation is not allowed.</p>
<p>Obsessed Analytics holds no liability for the use of any information on this website.</p>