<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://baseballodds.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>baseballodds.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BaseballOdds</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BaseballOdds</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:baseballoddsdbserver.database.windows.net,1433;Initial Catalog=BaseballOdds_db;User ID=dbadmin@baseballoddsdbserver;Password=S1liconVall3y" Name="Data Source=tcp:baseballoddsdbserver.database.windows.net,1433;Initial Catalog=BaseballOdds_db;User Id=dbadmin@baseballoddsdbserver;Password=S1liconVall3y" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BaseballOdds.Models.ApplicationDbContext, BaseballOdds" MigrationConfiguration="BaseballOdds.Migrations.Configuration, BaseballOdds" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:baseballoddsdbserver.database.windows.net,1433;Initial Catalog=BaseballOdds_db;User Id=dbadmin@baseballoddsdbserver;Password=S1liconVall3y</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>